version: "3.8"

services:
  web:
    image: silaa/grading-web2:latest
    container_name: grading-web
#    network_mode: "host"
    ports:
      - "8001:8000"        # host:container
    volumes:
      - ./db.sqlite:/opt/grading/db.sqlite   # pakai file db dari host
      - ./logs:/opt/grading/logs            # kalau mau log keluar ke host
      - /opt/grading/app:/opt/grading/app
      - /opt/grading/app/schemes:/opt/grading/app/schemes
      - /opt/grading/app/api.py:/opt/grading/app/api.py:ro
      - /var/log/gradingctl:/var/log/gradingctl
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - grading-net

networks:
  grading-net:
    name: grading-net

